# Student Performance Indicator

Life Cycle of ML project:
- Understanding the Problem statement
- Data collection
- Data checks
- EDA
- Data pre processing
- Model training
- Model selection

### 1) Problem Statement
- This project explains the effect of unorthodox variables(for analysis) like Gender, Ethincity, Parental education, Lunch and Test preperation course on a Student's performance.

### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977- 
The data consists of 8 column and 1000 rowsry.

### 2.1 Import Data and Required Packages
- Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

### Importing CSV Data to form a Pandas Dataframe

In [7]:
df = pd.read_csv('data/stud.csv')

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [10]:
df.shape

(1000, 8)

### Dataset Information
- gender: (Male/Female)
- race/ethinicity: (Group A,B,C,D,E)
- parental level of education
- lunch
- test preparation course
- math score
- reading score
writing score